<div class="container">
    <div class="navbar-container">
        <div class="logo titre1">
            <img src="images/logo.png" alt="LogoImage">
            PC de dingo
        </div>
        
        <!--
        <div class="searchbar">
            
            <input type="text" name="recherche" placeholder="Ville recherchée"
            [(ngModel)]="searchValue">
            <p *ngIf="searchValue">{{searchValue}}</p>
            
        </div>
        -->
        <div class="navbar-items">
            <button class="nav-button titre1" routerLink="/">
                Accueil
            </button>
            <button class="nav-button titre1" routerLink="/conception_simple">
                Conception simple
            </button>
            <button class="nav-button titre1" routerLink="/conception_detaillee">
                Conception détaillée
            </button>
            <button class="nav-button titre1" routerLink="/nous_contacter">
                Nous contacter
            </button>
        </div>
    </div>
</div>
